.content{
	width: 100%;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
.container{
	flex: 1 0 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
@media (max-width: 992px) {
	.content{
		flex-direction: column;
	}
}