.wrapper{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1 1 100px;
}
.menu{
	display: flex;
	flex-direction: column;
	flex: 0 0 320px;
}
.menu a{
	color: var(--secondary-text);
}
a.activeLink{
	color: var(--primary-light);
}
.content{
	flex: 1 1 916px;
	display: flex;
	flex-direction: column;
}
.orderList{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: stretch;
	flex: 1 0 200px;
}