.root{
	position: fixed;
	display:flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2000;
}
.modal{
	position: relative;
	width: 640px;
	min-height: 400px;
	margin: auto;
	padding: 40px;
	padding-bottom: 60px;
	background-color: var(--modal-bg-color);
	border-radius: 40px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	z-index: 2000;
}
.close{
	display: block;
	position: absolute;
	top: 50px;
	right: 40px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	z-index: 2000;
}
