.header{
	width: 100%;
	background-color: var(--modal-bg-color);
	flex: 0 0 96px;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.menu svg{
	margin-left: auto;
	margin-right: auto;
}
.btn{
	display: flex;
	align-items: center;
	border-radius: 40px;
	text-decoration: none;
	color: var(--secondary-text);
}
.btn.active{
	color: var(--primary-light);
}
.btn.active svg{
	fill: var(--primary-light);
}
.btn:nth-of-type(1){
	margin-left: -20px;
}
.btn:nth-last-of-type(1){
	margin-left: auto;
	margin-right: -20px;
}
.logo{
	margin-left: 13%;
}
@media (max-width: 1280px) {
	.btn:nth-of-type(1){
		margin-left: 0;
	}
	.btn:nth-last-of-type(1){
		margin-right: 0;
	}
}
@media (max-width: 767px) {
	.menu{
		flex-direction: column;
		justify-content: flex-start;
	}
	.btn:nth-last-of-type(1){
		margin-right: auto;
	}
}
/* mobile menu */
.menuButtonContainer {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menuButton,
.menuButton::before,
.menuButton::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menuButton::before {
	content: '';
	margin-top: -8px;
}

.menuButton::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menuButtonContainer .menuButton::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menuButtonContainer .menuButton {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menuButtonContainer .menuButton::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}
.mobileMenuLogo{
	width: 200px;
}

@media (max-width: 767px) {
	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.menuButtonContainer {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 20px;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	#menu-toggle ~ .menu a svg{
		margin-left: inherit;
		margin-right: inherit;
	}
	#menu-toggle ~ .menu a {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		border-radius: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu a {
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > a {
		display: flex;
		justify-content: flex-start;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		background-color: var(--modal-bg-color);
	}
	.menu > a.logo {
		display: none;
	}
	.menu > a:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}
@media (min-width: 767px) {
	.mobileMenuLogo,
	#menu-toggle,
	.menuButtonContainer{
		display: none;
	}
}